@model SchoolProject.Models.Teachers;

@{
    ViewBag.Title = "Details";
    Layout = "_Layout";
}

<h2>Details</h2>

<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonalData.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalData.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsEducator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsEducator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalData.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalData.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalData.Pesel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalData.Pesel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalData.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalData.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalData.Address.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalData.Address.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalData.Address.StreetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalData.Address.StreetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalData.Address.StreetNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalData.Address.StreetNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalData.Address.AptNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalData.Address.AptNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalData.Address.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalData.Address.ZipCode)
        </dd>
    </dl>    

    @if (Model.QualificationTeachers.Count > 0)
        {
    <h5>Qualifications:</h5>
            <ul>
                @foreach (var q in Model.QualificationTeachers)
                {
                    <li>@q.QualificationQualification.Name</li>
                }
            </ul>
        }

    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TeacherId }) |
    @Html.ActionLink("Back to List", "Get")
</p>
