@using SchoolProject.Enums
@model SchoolProject.ViewModels.StudentViewModel

@{
    ViewData["Title"] = "Add student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add student</h2>

<h4>Students</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="User.Login" class="control-label"></label>
                <input asp-for="User.Login" class="form-control"/>
                @Html.ValidationMessageFor(model => model.User.Login, "", new {@class = "text-danger"})
            </div>

            <div class="form-group">
                <label asp-for="User.Password" class="control-label"></label>
                <input asp-for="User.Password" class="form-control"/>
                @Html.ValidationMessageFor(model => model.User.Password, "", new { @class = "text-danger" })
            </div>

            
            

            <div class="form-group">
                <label asp-for="PersonalData.FirstName" class="control-label"></label>
                <input asp-for="PersonalData.FirstName" class="form-control" />
                @Html.ValidationMessageFor(model => model.PersonalData.FirstName, "", new { @class = "text-danger" })
            </div>


            <div class="form-group">
                <label asp-for="PersonalData.LastName" class="control-label"></label>
                <input asp-for="PersonalData.LastName" class="form-control" />
                @Html.ValidationMessageFor(model => model.PersonalData.LastName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label asp-for="PersonalData.DateOfBirth"></label>
                <input asp-for="PersonalData.DateOfBirth" class="form-control" />
                @Html.ValidationMessageFor(model => model.PersonalData.DateOfBirth, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label asp-for="PersonalData.Gender" class="control-label"></label>
                @Html.DropDownList("Gender", Html.GetEnumSelectList<Gender>(), "Select Gender", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PersonalData.Gender, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label asp-for="PersonalData.Pesel" class="control-label"></label>
                <input asp-for="PersonalData.Pesel" class="form-control" />
                @Html.ValidationMessageFor(model => model.PersonalData.Pesel, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label asp-for="PersonalData.Email" class="control-label"></label>
                <input asp-for="PersonalData.Email" class="form-control" />
                @Html.ValidationMessageFor(model => model.PersonalData.Email, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label asp-for="Address.City" class="control-label"></label>
                <input asp-for="Address.City" class="form-control" />
                @Html.ValidationMessageFor(model => model.Address.City, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label asp-for="Address.StreetName" class="control-label"></label>
                <input asp-for="Address.StreetName" class="form-control" />
                @Html.ValidationMessageFor(model => model.Address.StreetName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label asp-for="Address.StreetNumber" class="control-label"></label>
                <input asp-for="Address.StreetNumber" class="form-control" />
                @Html.ValidationMessageFor(model => model.Address.StreetNumber, "", new { @class = "text-danger" })
            </div>


            <div class="form-group">
                <label asp-for="Address.AptNumber" class="control-label"></label>
                <input asp-for="Address.AptNumber" class="form-control" />
                @Html.ValidationMessageFor(model => model.Address.AptNumber, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label asp-for="Address.ZipCode" class="control-label"></label>
                <input asp-for="Address.ZipCode" class="form-control" />
                @Html.ValidationMessageFor(model => model.Address.ZipCode, "", new { @class = "text-danger" })
            </div>
            
            <div class="form-group">
                <label class="control-label">Class</label>
                <select asp-for="Classes.Name" class="form-control" asp-items="ViewBag.ClassId"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
