@model SchoolProject.Models.Students

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Students</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonalData.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonalData.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Class.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersonalData.Pesel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalData.Pesel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalData.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalData.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalData.Address.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalData.Address.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalData.Address.StreetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalData.Address.StreetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalData.Address.StreetNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalData.Address.StreetNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalData.Address.AptNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalData.Address.AptNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalData.Address.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalData.Address.ZipCode)
        </dd>

        <dd>
            @if (Model.Grades.Count > 0)
            {
                <div style="width: 70%">
                    <h5 onclick="grades()">Grades</h5>
                    <ul style="list-style-type: none; column-count: 4;  ">
                        <div id="Grades" style="display: none">
                            @foreach (var g in Model.Grades)
                            {
                                <li>
                                    @g.Subject.Name
                                </li>
                            }
                            @foreach (var g in Model.Grades)
                            {
                                <li>
                                    @g.Value
                                </li>
                            }
                            @foreach (var g in Model.Grades)
                            {
                                <li>
                                    @g.Note
                                </li>
                            }
                            @foreach (var g in Model.Grades)
                            {
                                <li>
                                    @g.Date.ToShortDateString()
                                </li>
                            }
                        </div>
                    </ul>
                </div>
            }
            @if (Model.Attendances.Count > 0)
            {
                <div style="width: 70%">
                    <h5 onclick="attendances()">Attendances</h5>
                    <ul style="list-style-type: none; column-count: 4;  ">
                        <div id="Attendances" style="display: none">
                            @foreach (var g in Model.Attendances)
                            {
                                <li>
                                    @g.Lesson.StartTime
                                    @g.Lesson.Date.ToShortDateString()
                                </li>
                            }
                            @foreach (var g in Model.Attendances)
                            {
                                switch (@g.Lesson.DayOfWeek)
                                {
                                    case 1:
                                        <li>
                                            Poniedzialek
                                        </li>
                                        break;
                                    case 2:
                                        <li>
                                            Wtorek
                                        </li>
                                        break;
                                    case 3:
                                        <li>
                                            Sroda
                                        </li>
                                        break;
                                    case 4:
                                        <li>
                                            Czwartek
                                        </li>
                                        break;
                                    case 5:
                                        <li>
                                            Piatek
                                        </li>
                                        break;
                                    case 6:
                                        <li>
                                            Sobota
                                        </li>
                                        break;
                                    case 7:
                                        <li>
                                            Niedziela
                                        </li>
                                        break;


                                }
                            }
                            @foreach (var g in Model.Attendances)
                            {
                                <li>
                                    @g.Lesson.Subject.Name
                                </li>
                            }
                            @foreach (var g in Model.Attendances)
                            {
                                string obecnosc = "";
                                if (g.AttendanceType == 1)

                                { obecnosc = "Obecny"; }
                                else if (g.AttendanceType == 2)
                                { obecnosc = "Nieobecny"; }
                                <li>
                                    @obecnosc
                                </li>
                            }
                        </div>
                    </ul>
                </div>
            }
        </dd>
        

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StudentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<script>
    function attendances() {
                                var x = document.getElementById("Attendances");
                                if (x.style.display === "none") {
                                    x.style.display = "block";
                                } else {
                                    x.style.display = "none";
                                }
                            }

                            function grades() {
                                var x = document.getElementById("Grades");
                                if (x.style.display === "none") {
                                    x.style.display = "block";
                                } else {
                                    x.style.display = "none";
                                }
                            }


</script>
